<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ClientApp.Properties.Settings>
            <setting name="PORTIN" serializeAs="String">
                <value>8005</value>
            </setting>
            <setting name="PORTOUT" serializeAs="String">
                <value>8006</value>
            </setting>
            <setting name="XML_FILE_NAME" serializeAs="String">
                <value>MyConfig.xml</value>
            </setting>
        </ClientApp.Properties.Settings>
    </userSettings>
</configuration>